---
layout: default
---


<div class="post">
  <header class="post-header">
    {% comment %} <h1 class="post-title">
        {{ site.title }}
    </h1> {% endcomment %}
  </header>

  <article>
    <div class="card w-100 mb-4">
      <div class="card-content">
        <div class="card-body">
          <h2 class="card-title">About Us</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="text-center">
              <img 
              class="img-fluid w-50" 
              src="/assets/img/prof_pic.jpg" 
              alt="Profile Picture">
            </div>
            <p class="card-text"></p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

          </p>
        </div>

      </div>
    </div>

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <div class="card w-100 mt-4" style="margin-bottom:20px;">
        <div class="card-header" style="padding-top: 10px; padding-bottom:10px">
          <h2 class="card-title">Latest News</h2>
        </div>
        <div class="card-body">
          <div class="news-list">
            {% include news.liquid limit=true %}
          </div>
        </div>
        {% comment %} <div class="card-footer">
          <a href="{{ '/news/' | relative_url }}" class="btn btn-primary">View All News</a>
        </div> {% endcomment %}
      </div>
      {% endif %}

    {% comment %} PROFILES {% endcomment %}
    <section id="about-profiles" style="padding-top: 0;">
      <div class="row match-height">
        <div class="col-12 mt-3 mb-1">
          <h2 class="section-title text-uppercase text-center">Our Team</h2>
        </div>
      </div>
    
      <div class="row justify-content-center">
        {% assign members_per_row = 4 %}
        {% assign total_profiles = site.members | size %}
    
        {% for profile in site.members %}
          <!-- Logic to check if we need to start a new row -->
          {% assign current_index = forloop.index0 %}
          {% assign is_new_row = current_index | modulo: members_per_row %}
    
            {% if current_index != 0 and is_new_row == 0 %}
            </div><div class="row justify-content-center" style="padding-bottom: 0px; margin-top: 0px;">
          {% endif %}
    
          <!-- Profile Card -->
          <div class="col-xl-3 col-md-4 col-sm-12" style="margin-bottom: 23px;">
            <div class="card" style="min-height: 300px; margin-bottom: 0px; max-width: 400px;">
              <div class="card-content" style="margin:5px;">
                <!-- Profile Image -->
                {% if profile.image %}
                  <a href="{{ profile.web_site }}" target="_blank">
                    <img 
                      class="card-img-top img-fluid mx-auto d-block" 
                      src="/assets/img/{{ profile.image }}" 
                      alt="Photo of {{ profile.givenname }} {{ profile.surname }}" 
                      style="width: 50%; height: auto; margin-top: 5px; margin-top: 5px; object-fit: cover; aspect-ratio: 1 / 1;"
                    />
                  </a>
                {% endif %}
    
                <div class="card-body text-center" style="padding: 0px;">
                  <a href="{{ profile.web_site }}" target="_blank" class="text-decoration-none">
                    <h4 class="card-title" style="margin: 0px">{{ profile.givenname }} {{ profile.surname }}</h4>
                  </a>
    
                  <p style="margin: 0px"> {{ profile.member_category }}</p>
    
                  <!-- Horizontal Separator -->
                  <hr style="width: 50%; margin: 5px auto;" />
    
                  <p style="margin-bottom: 5px">{{ profile.interests }}</p>
    
                  <!-- Horizontal Separator -->
                  <hr style="width: 50%; margin: 5px auto;" />
    
                  <!-- Social Icons -->
                  <ul class="list-inline">
                    {% if profile.github %}
                      <li class="list-inline-item">
                        <a href="https://github.com/{{ profile.github }}" target="_blank">
                          <i class="fab fa-github fa-lg"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if profile.linkedin %}
                      <li class="list-inline-item">
                        <a href="https://linkedin.com/in/{{ profile.linkedin }}" target="_blank">
                          <i class="fab fa-linkedin fa-lg"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if profile.twitter %}
                      <li class="list-inline-item">
                        <a href="https://twitter.com/{{ profile.twitter }}" target="_blank">
                          <i class="fab fa-twitter fa-lg"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if profile.scholar %}
                      <li class="list-inline-item">
                        <a href="{{ profile.scholar }}" target="_blank">
                          <i class="fas fa-graduation-cap fa-lg"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if profile.web_site %}
                      <li class="list-inline-item">
                        <a href="{{ profile.web_site }}" target="_blank">
                          <i class="fas fa-globe fa-lg"></i>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <div class="card w-100 mt-4">
        <div class="card-header" style="padding-top: 10px; padding-bottom: 10px;">
          <h2 class="card-title">
            <a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a>
          </h2>
        </div>
        <div class="card-body">
          <div class="publications-list">
            {% include selected_papers.liquid %}
          </div>
        </div>
        {% comment %}
        <div class="card-footer">
          <a href="{{ '/publications/' | relative_url }}" class="btn btn-light-primary">View All Publications</a>
        </div>
        {% endcomment %}
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
